@charset "utf-8";

// 레이아웃
.inner {
    width: 1200px;
    margin: 0 auto;
}

// 헤더
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 68px;
    background: rgba(0, 0, 0, 0.3);
    &.on {
        background: #000;
    }
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    .gnb-list {
        display: flex;
        gap: 60px;
        li {
            a {
                font-weight: 600;
                font-size: 18px;
                font-family: 'SUIT', sans-serif;
            }
        }
    }
    .btn-mo-menu {
        display: none;
        width: 20px;
        height: 20px;
        background: url(../images/ico_mo_menu.svg)no-repeat center/auto;
        &.close {
            background: url(../images/ico_mo_menu_close.svg)no-repeat center/auto;
        }
    }
}

// 공통
.container {
    // 메인페이지
    > section:not(.sc-main-visual) {
        padding: 80px 0;
    }
    .title-area {
        text-align: center;
        .sc-title {
            font-weight: 700;
            font-size: 36px;
        }
        .sub-title {
            margin-top: 10px;
            font-weight: 600;
            font-size: 24px;
        }
    }
    // 서브페이지
    .sub-visual {
        height: 360px;
        padding: 146px 0 78px;
        box-sizing: border-box;
        font-family: 'SUIT', 'Pretendard', sans-serif;
        &.notice-visual {
            background: url(../images/img_sub_visual_notice.jpg)no-repeat center/cover;
        }
        &.faq-visual {
            background: url(../images/img_sub_visual_faq.jpg)no-repeat center/cover;
        }
        &.intro-visual {
            background: url(../images/img_sub_visual_intro.jpg)no-repeat center/cover;
        }
        &.guide-visual {
            background: url(../images/img_sub_visual_guide.jpg)no-repeat center/cover;
        }
        .sub-title {
            font-weight: 700;
            font-size: 36px;
        }
        .sub-desc {
            margin-top: 24px;
            font-weight: 600;
            font-size: 18px;
            color: $color-light-blue;
        }
    }
    .sub-content {
        padding: 60px 0 80px;
        .sub-ct-title {
            font-weight: 700;
            font-size: 28px;
        }
    }
}

/***** 메인 페이지 *****/
// 메인비주얼
.sc-main-visual {
    position: relative;
    overflow: hidden;
    font-family: 'SUIT', 'Pretendard', sans-serif;
    .visual-swiper {
        height: 720px;
        .swiper-pagination {
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 1240px;
            padding: 0 20px;
            .swiper-pagination-bullet {
                width: 14px;
                height: 14px;
                margin: 0;
                background: rgba($color-white, 0.30);
                &.swiper-pagination-bullet-active {
                    background: #d9d9d9;
                }
                & + .swiper-pagination-bullet {
                    margin-left: 10px;
                }
            }
        }
    }
    .img-area {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            &.mo {
                display: none;
            }
        }
    }
    .title-area {
        text-align: left;
        padding-top: 228px;
        .sc-title {
            margin-top: 28px;
            font-size: 48px;
            overflow: hidden;
            display: -webkit-box;
            white-space: inherit;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .sub-title {
            color: #70EEFF;
        }
    }
    .rolling-notice {
        position: absolute;
        left: 50%;
        bottom: 110px;
        z-index: 1;
        transform: translateX(-50%);
        max-width: 1240px;
        width: 100%;
        padding: 0 20px;
        .notice {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            padding: 10px 20px;
            border-radius: 30px;
            border: 1px solid $color-blue;
            .tit {
                height: 32px;
                line-height: 32px;
                padding: 0 16px;
                border-radius: 16px;
                background: rgba($color-white, 0.3);
            }
            .notice-swiper {
                width: 409px;
                height: inherit;
                overflow: hidden;
                margin: 0 20px 0 10px;
                .notice-list {
                    .swiper-slide {
                        display: flex;
                        align-items: center;
                        a {
                            position: relative;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-left: 24px;
                            &.important {
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 4px;
                                    background: url(../images/ico_essential.svg) no-repeat center/auto;
                                }
                            }
                        }
                    }
                }
            }
            .btn-all {
                width: 40px;
                height: 40px;
                background: url(../images/ico_notice_all.svg) no-repeat center/auto;
            }
        }
    }
}
// 서비스
.sc-service {
    .title-area {
        .sub-title {
            color: $color-purple;
        }
    }
    .service-list {
        display: flex;
        gap: 30px;
        margin-top: 40px;
        figure {
            figcaption {
                margin-top: 20px;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}
// 공간 안내
.sc-space-guide {
    background: $color-gray-05;
    .title-area {
        .sub-title {
            color: $color-green;
        }
    }
    .space-guide-list {
        display: flex;
        gap: 20px;
        margin-top: 40px;
        li {
            figure {
                position: relative;
                figcaption {
                    position: absolute;
                    left: 0;    
                    bottom: 0;
                    width: 100%;
                    padding: 10px 0;
                    text-align: center;
                    background: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    .space-guide-cont {
        display: flex;
        gap: 20px;
        margin-top: 40px;
        .col {
            flex: 1 1 50%;
            display: flex;
            height: 200px;
            &.guide {
                background: #000;
                &::before {
                    content: "";
                    padding-left: 237px;
                    background: url(../images/img_space_guide_cont_01.png) no-repeat center/cover;
                }
                .txt {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 10px;
                    p {
                        font-weight: 700;
                        font-size: 20px;
                        background-image: linear-gradient(to bottom, $color-light-blue, $color-purple);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                    .logo {
                        width: 126px;
                        height: 16px;
                        margin: 20px auto 0;
                        background: url(../images/logo_hyperclovax.svg)no-repeat center/auto;
                    }
                }
            }
            &.join {
                padding: 28px 20px;
                border-radius: 12px;
                background: $color-dark-blue;
                .txt {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    font-weight: 700;
                    &::before {
                        content: "";
                        height: 100%;
                        margin-right: 20px;
                        padding-left: 114px;
                        background: url(../images/img_space_guide_cont_02.png) no-repeat center/contain;
                    }
                    > span {
                        font-size: 14px;
                        color: $color-orange;
                    }
                    p {
                        margin-top: 10px;
                        font-size: 18px;
                    }
                }
                .btn-default {
                    min-width: auto;
                    margin-top: 18px;
                    .btn-join {
                        &::after {
                            content: '';
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            vertical-align: text-bottom;
                            background: url(../images/ico_btn_join.svg)no-repeat center/auto;
                        }
                    }
                }
            }
            img {
                height: 100%;
            }
            .txt {
                width: 100%;
                text-align: center;
            }
        }
    }
}
// 소개
.sc-intro {
    background: url(../images/img_bg_intro.jpg)no-repeat center/cover;
    .intro-cont {
        position: relative;
        display: flex;
        flex-direction: column;
        .img-area {
            position: absolute;
            left: 0;
            top: 0;
            width: 520px;
        }
        .title-area {
            padding-left: 580px;
            text-align: left;
            .category {
                font-weight: 600;
                color: $color-light-blue;
            }
            .sc-title {
                margin-top: 40px;
                font-weight: 700;
                font-size: 32px;
            }
            .sub-title {
                margin-top: 24px;
                font-weight: 700;
                font-size: 20px;
            }
        }
        .txt-area {
            margin-top: 30px;
            padding-left: 580px;
            .desc {
                color: $color-gray-01;
            }
            .logo-list {
                display: flex;
                flex-wrap: wrap;
                gap: 22px;
                margin-top: 30px;
            }
        }
    }
}
// 보도자료
.sc-news {
    .inner {
        display: flex;
        gap: 20px;
    }
    .news {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 40px;
        border-radius: 12px;
        background: $color-gray-04;
        .news-cont {
            flex: 1 1 580px;
            .title-area {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .sc-title {
                    font-weight: 700;
                    font-size: 28px;
                }
                .btn-line {
                    display: inline-block;
                }
            }
            .news-list {
                margin-top: 20px;
                padding-top: 20px;
                border-top: 1px solid $color-gray-02;
                li {
                    display: flex;
                    gap: 16px;
                    height: 42px;
                    padding: 12px;
                    box-sizing: border-box;
                    border-bottom: 1px solid $color-gray-03;
                    .tit {
                        position: relative;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-weight: 500;
                        &.important {
                            padding-left: 24px;
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                margin-right: 4px;
                                background: url(../images/ico_essential.svg) no-repeat center/auto;
                            }
                        }
                    }
                    .date {
                        flex-shrink: 0;
                        color: $color-gray-01;
                    }
                }
            }
        }
        .news-preview {
            flex: 1 1 320px;
            figure {
                figcaption {
                    margin-top: 10px;
                    font-weight: 700;
                    font-size: 20px;
                    display: -webkit-box;
                    white-space: inherit;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
    .util-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            width: 180px;
            height: 180px;
            border-radius: 12px;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            background: $color-dark-blue;
            &::before {
                content: '';
                display: block;
                width: 60px;
                height: 60px;
            }
            &.btn-faq {
                &::before {
                    background: url(../images/ico_btn_faq.svg) no-repeat center/auto;
                }
            }
            &.btn-guide {
                &::before {
                    background: url(../images/ico_btn_guide.svg) no-repeat center/auto;
                }
            }
        }
    }
}

/***** 서브 페이지 *****/
// 공지사항 상세
.notice-detail {
    .detail-head {
        padding: 30px 0;
        border-top: 1px solid $color-gray-03;
        border-bottom: 1px solid $color-gray-01;
        .category {
            font-weight: 600;
            font-size: 18px;
            color: $color-blue;
        }
        .title {
            margin-top: 16px;
            font-weight: 600;
            font-size: 28px;
            color: $color-white;
        }
        .info-list {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 21px;
            margin-top: 16px;
            li {
                font-weight: 500;
                font-size: 14px;
                color: $color-gray-02;
                &:not(:first-child) {
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 12px;
                        margin-right: 20px;
                        background: $color-blue;
                    }
                }
                span {
                    margin-left: 8px;
                    font-weight: 400;
                    color: $color-gray-01;
                }
            }
        }
    }
    .detail-body {
        padding: 60px 0;
        border-bottom: 1px solid $color-gray-03;
        .detail-content {
            .img-area {
                padding: 20px 0;
            }
        }
    }
    .detail-btn {
        margin-top: 40px;
        text-align: center;
        .btn-default {
            display: inline-block;
        }
    }
}
// faq
.faq-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq-body {
    padding: 20px 0 30px;
    border-bottom: 1px solid $color-gray-03;
}
.faq-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    margin-top: 40px;
    padding: 20px 20px 20px 42px;
    border: 1px solid $color-gray-03;
    border-radius: 8px;
    background: $color-gray-05;
    li {
        margin-right: 60px;
        text-indent: -30px;
        font-weight: 500;
        font-size: 16px;
        color: $color-gray-01;
        &:last-child {
            margin-right: 0;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            vertical-align: text-top;
        }
        &.tit {
            margin-right: 98px;
            font-weight: 700;
            &::before {
                background: url(../images/ico_faq_question.svg) no-repeat center/auto;
            }
        }
        &.mail {
            &::before {
                background: url(../images/ico_faq_mail.svg) no-repeat center/auto;
            }
        }
        &.call {
            &::before {
                background: url(../images/ico_faq_call.svg) no-repeat center/auto;
            }
        }
        &.time {
            &::before {
                background: url(../images/ico_faq_time.svg) no-repeat center/auto;
            }
        }
    }
}
// 소개 하기
.intro-content {
    &.bottom-line {
        padding-bottom: 40px;
        border-bottom: 1px solid $color-gray-03;
    }
    & + .intro-content {
        margin-top: 60px;
    }
    > .txt-area {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 40px;
        margin-top: 30px;
        dl {
            width: calc(50% - 20px);
            dt {
                font-weight: 600;
                font-size: 16px;
            }
            dd {
                margin-top: 10px;
                color: $color-gray-01;
            }
        }
    }
    .image-area {
        position: relative;
        width: 100%;
        height: 240px;
        background: #000;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 361px;
            height: 100%;
            background: url(../images/img_intro_05.png) no-repeat center/contain;
        }
        .txt {
            position: relative;
            padding: 140px 20px 32px;
            text-align: center;
            font-weight: 700;
            font-size: 22px;
            span {
                color: $color-green;
            }
        }
    }
    .intro-box {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        .txt-area {
            flex: 1 1 100%;
            .intro-tit {
                font-weight: 600;
                font-size: 18px;
            }
            .info-list {
                margin-top: 30px;
                li {
                    font-weight: 600;
                    font-size: 16px;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                        vertical-align: middle;
                    }
                    & + li {
                        margin-top: 10px;
                    }
                    &.location {
                        &::before {
                            background: url(../images/ico_intro_location.svg) no-repeat center/auto;
                        }
                    }
                    &.time {
                        &::before {
                            background: url(../images/ico_intro_time.svg) no-repeat center/auto;
                        }
                    }
                    &.fee {
                        &::before {
                            background: url(../images/ico_intro_fee.svg) no-repeat center/auto;
                        }
                    }
                    &.inquiry {
                        &::before {
                            background: url(../images/ico_intro_inquiry.svg) no-repeat center/auto;
                        }
                    }
                    span {
                        margin-left: 8px;
                        font-weight: 500;
                        color: $color-gray-01;
                    }
                }
            }
            .dot-list {
                margin-top: 20px;
            }
        }
        figure {
            flex: 1 1 100%;
        }
    }
}
.btn-wrap {
    margin-top: 60px;
}
// 이용 안내
.guide-content {
    & + .guide-content {
        margin-top: 60px;
    }
    .use-guide-list {
        display: flex;
        gap: 16px;
        margin-top: 30px;
        li {
            flex: 1;
            position: relative;
            text-align: center;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 20px;
                z-index: -1;
                width: 99%;
                border: 1px dashed $color-light-blue;
            }
            &:not(:last-child)::after {
                content: '';
                position: absolute;
                right: -16px;
                top: 0;
                width: 16px;
                height: 41px;
                background: url(../images/ico_guide_arrow.svg) no-repeat center/auto;
            }
            .step {
                display: inline-block;
                height: 40px;
                line-height: 40px;
                padding: 0 13px;
                text-align: center;
                border-radius: 20px;
                box-sizing: border-box;
                font-weight: 700;
                font-size: 14px;
                color: $color-black;
                background: $color-light-blue;
            }
            .use-guide-cont {
                height: calc(100% - 51px);
                margin-top: 10px;
                padding: 20px;
                border-radius: 12px;
                background: $color-gray-04;
                .tit {
                    font-weight: 700;
                    font-size: 16px;
                    &::after {
                        content: '';
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin: 20px auto;
                    }
                    &.ico01 {
                        &::after {
                            background: url(../images/ico_guide_step_01.svg) no-repeat center/auto;
                        }
                    }
                    &.ico02 {
                        &::after {
                            background: url(../images/ico_guide_step_02.svg) no-repeat center/auto;
                        }
                    }
                    &.ico03 {
                        &::after {
                            background: url(../images/ico_guide_step_03.svg) no-repeat center/auto;
                        }
                    }
                    &.ico04 {
                        &::after {
                            background: url(../images/ico_guide_step_04.svg) no-repeat center/auto;
                        }
                    }
                }
                .desc {
                    color: $color-gray-01;
                }
                .btn-default, .btn-line {
                    width: 100%;
                    margin-top: 20px;
                    &.btn-line {
                        height: auto;
                        line-height: 1.1;
                        padding: 12px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
    .contents-guide-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;
        > li {
            flex: calc(50% - 20px);
            padding: 20px;
            border-radius: 12px;
            text-align: center;
            box-sizing: border-box;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
            background: $color-gray-05;
            &.guide-item {
                flex: calc((100% / 3) - 20px);
                border: 1px solid $color-gray-03;
                figure {
                    figcaption {
                        .desc {
                            color: $color-white;
                        }
                    }
                }
                ul {
                    margin-top: 20px;
                    padding-top: 20px;
                    border-top: 1px solid $color-gray-03;
                    li {
                        color: $color-gray-01;
                        &.tit {
                            margin-bottom: 20px;
                            font-weight: 600;
                            color: $color-blue;
                        }
                    }
                }
            }
            figure {
                figcaption {
                    margin-top: 20px;
                    h4 {
                        font-weight: 600;
                        font-size: 20px;
                    }
                    .desc {
                        margin-top: 20px;
                        color: $color-gray-01;
                    }
                }
            }
        }
    }
}

// 푸터
.footer {
    width: 100%;
    padding: 40px 0;
    font-size: 14px;
    background: #000;
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-logo {
        .web {
            width: 190px;
            height: 48px;
        }
        .mo {
            display: none;
            width: 270px;
            height: 15px;
        }
    }
    .address-area {
        font-family: 'SUIT', sans-serif;
        .name {
            font-weight: 700;
            color: $color-gray-01;
        }
        address {
            font-weight: 500;
            color: $color-gray-01;
        }
        .copyright {
            margin-top: 10px;
            color: $color-gray-02;
        }
    }
    .sns-group {
        display: flex;
        gap: 10px;
        a {
            display: block;
            width: 40px;
            height: 40px;
        }
    }
    .link-list {
        margin-top: 12px;
        text-align: right;
        li {
            a {
                font-weight: 600;
                color: $color-blue;
            }
        }
    }
}



/***** 반응형 *****/
// 데스크탑
@media screen and (max-width: 1199px) {
    .inner {
        width: 100%;
        padding: 0 20px;
    }
}

// 태블릿
@media screen and (max-width: 1023px) {
    //헤더
    .header {
        .gnb {
            display: none;
            position: absolute;
            left: 0;
            top: 68px;
            width: 100%;
        }
        .gnb-list {
            display: flex;
            flex-direction: column;
            gap: 0;
            background: $color-black;
            li {
                height: 60px;
                line-height: 60px;
                text-align: center;
                &.active {
                    font-weight: 700;
                    background: $color-blue;
                }
                a {
                    font-weight: 500;
                }
            }
        }
        .btn-mo-menu {
            display: block;
        }
    }
    /***** 메인페이지 *****/
    //공간 안내
    .sc-space-guide {
        .space-guide-cont {
            flex-direction: column;
            .col {
                flex: none;
            }
        }
    }
    // 소개
    .sc-intro {
        .intro-cont {
            .img-area {
                position: static;
                order: 2;
                width: 100%;
                margin-top: 30px;
            }
            .title-area {
                order: 1;
                padding-left: 0;
            }
            .txt-area {
                order: 3;
                padding-left: 0;
            }
        }
    } 
    // 보도 자료
    .sc-news {
        .inner {
            flex-direction: column;
        }
        .util-group {
            flex-direction: row;
            .btn {
                width: 50%;
            }
        }
    }
    //푸터
    .footer {
        .inner {
            flex-direction: column;
            align-items: flex-start;
        }
        .footer-logo {
            order: 2;
            margin-top: 20px;
            .web {
                display: none;
            }
            .mo {
                display: block;
            }
        }
        .address-area {
            order: 3;
            margin-top: 20px;
        }
        .column {
            order: 1;
        }
        .link-list {
            text-align: left;
        }
    }
}

// 모바일
@media screen and (max-width: 767px) {
    //공통
    .container {
        // 메인페이지
        > section:not(.sc-main-visual) {
            padding: 60px 0;
        }
        .title-area {
            .sc-title {
                font-size: 22px;
            }
            .sub-title {
                font-size: 16px;
            }
        }
        //서브페이지
        .sub-visual {
            height: 280px;
            padding: 128px 0 60px;
            .sub-title {
                font-size: 26px;
            }
            .sub-desc {
                margin-top: 10px;
                font-size: 14px;
            }
        }
        .sub-content {
            padding: 30px 0 40px;
        }
    }
    /***** 메인페이지 *****/
    // 메인 비주얼
    .sc-main-visual {
        .visual-swiper {
            height: 760px;
            .swiper-pagination {
                bottom: 20px;
            }
        }
        .img-area {
            img {
                &.web {
                    display: none;
                }
                &.mo {
                    display: block;
                }
            }
        }
        .title-area {
            padding-top: 128px;
            .sc-title {
                -webkit-line-clamp: 6;
                margin-top: 20px;
                font-size: 36px;
            }
            .sub-title {
                font-size: 20px;
            }
        }
        .rolling-notice {
            bottom: 58px;
            .notice {
                padding: 8px 12px;
                .tit {
                    flex-shrink: 0;
                    padding: 0 8px;
                    font-size: 12px;
                }
                .notice-swiper {
                    width: 100%;
                    margin: 0 10px 0 8px;
                    .notice-list {
                        .swiper-slide {
                            a {
                                display: -webkit-box;
                                white-space: inherit;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                font-size: 14px;
                            }
                        }
                    }
                }
                .btn-all {
                    flex-shrink: 0;
                }
            }
        }
    }
    // 서비스
    .sc-service {
        .service-list {
            flex-direction: column;
            gap: 20px;
            margin-top: 30px;
            figure {
                figcaption {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }
    // 공간 안내
    .sc-space-guide {
        .space-guide-list {
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 30px;
            li {
                flex: calc(50% - 10px);
                figure {
                    figcaption {
                        padding: 4px 0;
                        font-size: 14px;
                    }
                }
            }
        }
        .space-guide-cont {
            margin-top: 30px;
            .col {
                &.guide {
                    height: 148px;
                    &::before {
                        padding-left: 176px;
                    }
                    .txt {
                        p {
                            font-size: 16px;
                        }
                        .logo {
                            display: none;
                        }
                    }
                }
                &.join {
                    justify-content: center;
                    height: 174px;
                    padding: 20px;
                    .txt {
                        align-content: center;
                        justify-content: space-between;
                        &::before {
                            margin-right: 10px;
                            padding-left: 112px;
                            background-position: top;
                        }
                        > span {
                            font-size: 12px;
                        }
                        p {
                            font-size: 14px;
                        }
                        .btn-default {
                            align-self: center;
                            min-width: 168px;
                            height: 44px;
                            margin-left: -122px;
                            line-height: 44px;
                            font-size: 16px;
                            .btn-join {
                                &::after {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 소개
    .sc-intro {
        background: url(../images/img_mo_bg_intro.jpg)no-repeat center/cover;
        .intro-cont {
            .title-area {
                .category {
                    font-size: 12px;
                }
                .sc-title {
                    margin-top: 30px;
                    font-size: 24px;
                }
                .sub-title {
                    margin-top: 20px;
                    font-size: 18px;
                }
            }
            .txt-area {
                .desc {
                    font-size: 14px;
                }
                .logo-list {
                    gap: 10px 30px;
                    margin-top: 20px;
                    li {
                        height: 24px;
                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    // 보도자료
    .sc-news {
        .news {
            flex-wrap: wrap;
            gap: 12px;
            padding: 20px;
            .news-cont {
                flex: 1 1 100%;
                .title-area {
                    .sc-title {
                        font-size: 20px;
                    }
                }
                .news-list {
                    margin-top: 10px;
                    padding-top: 10px;
                    li {
                        height: auto;
                        .tit {
                            white-space: normal;
                            display: -webkit-box;
                            white-space: inherit;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            font-size: 14px;
                        }
                        .date {
                            font-size: 12px;
                        }
                    }
                }
            }
            .news-preview {
                flex: 1 1 320px;
                figure {
                    figcaption {
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }
            }
        }
        .util-group {
            .btn {
                flex-direction: row;
                height: 70px;
                font-size: 16px;
                &.btn-faq, &.btn-guide {
                    &::before {
                        width: 30px;
                        height: 30px;
                        background-size: contain;
                    }
                }
            }
        }
    }
    /***** 서브페이지 *****/
    // 공지사항
    .notice-table {
        height: auto;
        table {
            colgroup {
                display: none;
            }
            thead {
                display: none;
            }
            tbody {
                tr {
                    display: block;
                    height: auto;
                    padding: 20px;
                    border: 1px solid $color-gray-03;
                    border-radius: 8px;
                    & + tr {
                        margin-top: 10px;
                    }
                    &.import {
                        border-color: $color-orange;
                    }
                }
                td {
                    padding: 0;
                    text-align: left;
                    font-size: 15px;
                    &.number {
                        display: none;
                    }
                    &.name, &.title {
                        display: block;
                    }
                    &.views, &.date {
                        display: inline-block;
                        margin-top: 20px;
                    }
                    &.date {
                        margin-left: 4px;
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 1px;
                            height: 10px;
                            margin-right: 8px;
                            background: $color-gray-02;
                        }
                    }
                    .tit {
                        margin-top: 4px;
                        padding: 0;
                        font-size: 16px;
                        &.important {
                            &::before {
                                content: none;
                            }
                        }
                    }
                }
            }
        }
        .btn-more {
            display: block;
            width: 100%;
            height: 44px;
            line-height: 44px;
            margin-top: 16px;
            text-align: center;
            border: 1px solid $color-blue;
            border-radius: 8px;
            font-weight: 600;
            font-size: 16px;
            color: $color-blue;
        }
        .dataTables_wrapper {
            .dataTables_paginate {
                display: none;
            }
        } 
    }
    // 공지사항 상세
    .notice-detail {
        .detail-head {
            padding: 20px 0;
            .category {
                font-size: 14px;
            }
            .title {
                margin-top: 10px;
                font-size: 24px;
            }
            .info-list {
                flex-wrap: wrap;
                gap: 10px;
                li {
                    font-size: 12px;
                    &:not(:first-child) {
                        &::before {
                            content: '';
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .detail-body {
            padding: 40px 0;
        }
        .detail-btn {
            margin-top: 30px;
            .btn-default {
                min-width: 100%;
                height: 44px;
                line-height: 44px;
                font-size: 16px;
            }
        }
    }
    // faq
    .faq-head {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px 0;
        .search-form {
            width: 100%;
        }
    }
    .faq-body {
        padding: 20px 0;
    }
    .faq-info {
        margin-top: 30px;
        padding: 20px 12px 20px 42px;
        li {
            width: 100%;
            font-size: 14px;
            &.tit {
                margin-right: 0;
            }
        }
    }
    // 소개 하기
    .intro-content {
        &.bottom-line {
            padding-bottom: 20px;
        }
        & + .intro-content {
            margin-top: 30px;
        }
        > .txt-area {
            gap: 20px 40px;
            margin-top: 20px;
            dl {
                width: 100%;
            }
        }
        .image-area {
            height: auto;
            &::before {
                width: 100%;
                background-position: top;
            }
            .txt {
                padding: 120px 20px 32px;
                font-size: 18px;
                span {
                    color: $color-green;
                }
            }
        }
        .intro-box {
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;
            .txt-area {
                order: 2;
                .info-list {
                    margin-top: 20px;
                    li {
                        font-size: 14px;
                    }
                }
            }
            .img-area {
                order: 1;
            }
        }
    }
    .btn-wrap {
        margin-top: 30px;
        .btn-line {
            padding: 10px;
            height: auto;
            line-height: 1.2;
            font-size: 16px;
        }
    }
    // 이용 안내
    .guide-content {
        & + .guide-content {
            margin-top: 30px;
        }
        .use-guide-list {
            flex-wrap: wrap;
            gap: 36px;
            margin-top: 20px;
            li {
                flex: 1 1 100%;
                &:not(:last-child)::after {
                    right: 50%;
                    top: auto;
                    bottom: -38px;
                    margin-right: -8px;
                    transform: rotate(90deg);
                }
                .use-guide-cont {
                    height: auto;
                    .desc {
                        font-size: 14px;
                    }
                }
            }
        }
        .contents-guide-list {
            gap: 10px;
            margin-top: 20px;
            > li {
                flex: 1 1 100%;
                &.guide-item {
                    flex: 1 1 100%;
                    ul {
                        li {
                            font-size: 14px;
                        }
                    }
                }
                figure {
                    figcaption {
                        h4 {
                            font-size: 18px;
                        }
                        .desc {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}