//color
$color-blue: #2A5CAA;
$color-dark-blue: #1F3A64;
$color-orange: #F37021;
$color-light-blue: #54D8F6;
$color-green: #28EEA2;
$color-purple: #8C56FF;
$color-red: #FA6B7C;

$color-white: #FFFFFF;
$color-black: #14171D;

$color-gray-01: #999CAA;
$color-gray-02: #626677;
$color-gray-03: #3D3F4C;
$color-gray-04: #252A32;
$color-gray-05: #14151D;
